body{
    background-color: rgb(201, 159, 152);
    font-size:18px ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:0;
}
h1{
    font-family:unset
}
.imagen{
    height: 250px;
}
nav a {
    text-decoration: none;
    color: turquoise;

}
nav a:hover{
    color: yellow;
    text-decoration: underline;
}h1, p, div, nav, footer{
    text-align: center;
}
div{
    border: 1px solid #000000;
}
ul li{
    color: rgb(90, 131, 9);
}
ul li:nth-child(odd){
    font-style: italic;
    color: rgb(145, 31, 11);
}